<ion-side-menu-content edge-drag-threshold="true" drag-content="true">
   <h2>Side Menu</h2 >
	<div class="" >
		<ion-content>
			<ion-scroll zooming="true" direction="y" style="height: 500px">
				<div class="list container">

				    <a class="item item-thumbnail-left" href="#">
				      <img src="img/ionic.png">
				      <h2>My  Tite</h2>
				      <p>My Blank Desc</p>
				    </a>
				</div>
				<div class="list">
				    <a class="item item-thumbnail-left" href="#">
				      <img src="img/ionic.png">
				      <h2>My Tite</h2>
				      <p>My Blank Desc</p>
				    </a>
				</div>
			</ion-scroll>
		</ion-content>
	</div>
</ion-side-menu-content>
