<ion-view title="courses" hide-back-button="true" left-buttons="leftButtons" right-buttons="rightButtons"
      hide-back-button="true">

    <ion-content has-header="true" padding="true">
       		<!-- <div class="oops">
					<p><h4> :)</h4></p>
					<p>Welcome to the new courses.</p>
			</div>  -->
		<!-- <div class="card oops">
			  <div class="item item-divider">
			    I'm a Header in a Card!
			  </div>
			  <div class="item item-text-wrap">
			    <video width="100%" controls>
 					  <source src="img/movie.ogg.ogv" type="video/ogg">
					  Your browser does not support HTML5 video.
				</video>
			  </div>
			
		</div>	 -->
		<div class="list oops">
			  <label class="item item-input item-select">
			    <div class="input-label">
			      Select Semester
			    </div>
			    <select>
			      <option>1</option>
			      <option>2</option>
			      <option>3</option>
			    </select>
			  </label>
		</div>

		<div class="list ">
  			
  		    <a class="item item-thumbnail-left" href="#/menue/courses/1" >
		      <img src="img/ionic.png">
		      <h2>Pretty Hate Machine</h2>
		      <p>Nine Inch Nails</p>
		   		<div>
		   			<span class="item-note icon-list-footer">
				      <i class="fa fa-book"></i> : 5
				    </span>
				    <span class="item-note icon-list-footer">
				      <i class="fa fa-play-circle"></i> : 3
				    </span>
				    <span class="item-note icon-list-footer">
				       <i class="fa fa-file-pdf-o"></i> : 2
				    </span>
		   		</div>
		        
		    </a>

		    <a class="item item-thumbnail-left" href="#/menue/courses/2">
		      <img src="img/ionic.png">
		      <h2>Pretty Hate Machine</h2>
		      <p>Nine Inch Nails</p>
		        <div>
		   			<span class="item-note icon-list-footer">
				      <i class="fa fa-book"></i> : 5
				    </span>
				    <span class="item-note icon-list-footer">
				      <i class="fa fa-play-circle"></i> : 3
				    </span>
				    <span class="item-note icon-list-footer">
				       <i class="fa fa-file-pdf-o"></i> : 2
				    </span>
		   		</div>
		    </a>

		    <a class="item item-thumbnail-left" href="#/menue/courses/3">
		      <img src="img/ionic.png">
		      <h2>Pretty Hate Machine</h2>
		      <p>Nine Inch Nails</p>
		        <div>
		   			<span class="item-note icon-list-footer">
				      <i class="fa fa-book"></i> : 5
				    </span>
				    <span class="item-note icon-list-footer">
				      <i class="fa fa-play-circle"></i> : 3
				    </span>
				    <span class="item-note icon-list-footer">
				       <i class="fa fa-file-pdf-o"></i> : 2
				    </span>
		   		</div>
		    </a>

		</div>

    </ion-content>

    
</ion-view>