<ion-view title="login" style="background-image: url('img/bg2.jpg');" >

    <ion-content padding="true" scroll="false">
    	<div class="row responsive-sm">
		  <div class="col"></div>
		  <div class="col"></div>
        </div>
 
  
  		<div class="row">

  			  <div class="col"> </div>
  			  <div class="col"> </div>
  			  <div class="col"> </div>
  			  <div class="col"> </div>
  			  <div class="col"> </div>
  			  <div class="col"> </div>
  			  <div class="col">
  			  		<img src="img/avtar.png" style="height: 150px;"/>
  			  </div>
  			  <div class="col"> </div>
  			  <div class="col"></div>
  			  <div class="col"></div>
  			  <div class="col"></div>
  			  <div class="col"></div>

  		</div>
	    <div class="row">
	    	<div class="col"></div>
	    </div>
	    <div class="row">
	    	<div class="col"></div>
	    </div>
	    <div class="row">
	    	<div class="col"></div>
	    </div> 
		<div class="button-bar">
		    <a class="button icon-left button-facebook" ng-click="open_login_modal('facebook')">
		  		<i class="icon-left fa fa-facebook"></i> 
		  		Facebook
		  	</a>
			<a class="button icon-left button-googleplus" ng-click="open_login_modal('google')">
			    <i class="icon-left fa fa-google-plus "></i>
			  		Google
			</a>
		</div>
		<div class="button-bar">
			<button class="button button-energized" ng-click="open_login_modal('native')">Login</button>
    	</div>
    </ion-content>
</ion-view>



