<ion-side-menus>
		<ion-side-menu side="left">
		    <div class="container">
		  		<a class="item item-avatar" href="#">
      				<img src="img/avtar.png"> Anujay Kumar
      			</a>
		    </div>
		    <ul class="list ">
				   	<li class="item">
			   			<i class="fa fa-book fa-2x"></i>
			   				<div class="nav-item"><a href="#course">Course</a></div>
				   	</li>
				   	<li class="item">
				   		<i class="fa fa-tasks fa-2x"></i>
				   			<div class="nav-item">Results</div>
				   	</li>
				  	<li class="item">
				  		<i class="fa fa-dollar fa-2x"></i>
				  			<div class="nav-item">Transactions</div>
				  	</li>
				  	<li class="item">
				  		<i class="fa fa-credit-card fa-2x"></i> 
				  			<div class="nav-item">My Cards</div>
				  	</li>
				  	<li class="item">
				  		<i class="fa fa-question-circle fa-2x"></i>
				  			<div class="nav-item">Contact</div>
				  	</li>
			</ul>
		</ion-side-menu>

		
</ion-side-menus>
